# Python aliases
alias vc='python3 -m venv venv'
alias va='source ./venv/bin/activate'
alias vd='deactivate'
alias uppip='pip install --upgrade pip'
alias vca='vc && va && uppip'
alias vcai='vca && pip install -r requirements.txt'
alias ls='exa --icons'

# Interactive command aliases
alias mv='mv -in'
alias cp='cp -in'
alias rm='rm -i'

# Manage dotfiles
function dotfiles() { 
    /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME $@
}

# Get coloured output
alias diff='diff --color=auto'

# Restrict ping count to 4
alias ping='ping -c 4'

# Open config files

alias cb='nvim ~/.config/bspwm/bspwmrc'
alias cs='nvim ~/.config/sxhkd/sxhkdrc'
alias cpol='nvim ~/.config/polybar/config'
alias cdun='nvim ~/.config/dunst/dunstrc'
alias cpic='nvim ~/.config/picom/picom.conf'
alias crof='nvim ~/.config/rofi/config.rasi'
alias czat='nvim ~/.config/zathura/zathurarc'
alias cnvi='nvim ~/.config/nvim/init.vim'
alias ckit='nvim ~/.config/kitty/kitty.conf'
alias bm='nvim ~/.scripts/bookmarks/bookmarks.json'

# Repos navigation
alias gr='cd ~/Documents/repos'

function cr() {
    reply=$(echo "$(/bin/ls -1 ~/Documents/repos)" | fzf)
    if [[ -z $reply ]];then
        echo "No repo selected!"
    else
        cd ~/Documents/repos/$reply
    fi
}

# Some django aliases
alias rs='python manage.py runserver'
alias mi='python manage.py migrate'
alias mm='python manage.py makemigrations'
alias csu='python manage.py createsuperuser'
