# Python aliases
alias vc='python3 -m venv venv'
alias va='source ./venv/bin/activate'
alias vd='deactivate'
alias inst='pip3 install -r requirements.txt'
alias uppip='pip3 install --upgrade pip'
alias vca='vc && va && uppip'
alias vcai='vca && inst'

# Interactive command aliases
alias mv='mv -i'
alias cp='cp -i'
alias rm='rm -i'

# Manage dotfiles
function dotfiles() {
    /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME $@
}

# Get coloured output
alias diff='diff --color=auto'

# Restrict ping count to 4
alias ping='ping -c 4'

# Open config files

alias cb='nvim ~/.config/bspwm/bspwmrc'
alias cs='nvim ~/.config/sxhkd/sxhkdrc'
alias cpol='nvim ~/.config/polybar/config'
alias cdun='nvim ~/.config/dunst/dunstrc'
alias cpic='nvim ~/.config/picom/picom.conf'
alias crof='nvim ~/.config/rofi/config.rasi'
alias czat='nvim ~/.config/zathura/zathurarc'
alias cnvi='nvim ~/.config/nvim/init.vim'
alias cali='nvim ~/.aliases'
alias cz='nvim ~/.zshrc'
alias calac='nvim ~/.config/alacritty/alacritty.yml'
alias bm='nvim ~/.scripts/bookmarks/bookmarks.json'

# Directory navigation (go to directory)
alias gr='cd ~/Downloads/repos'
alias gdoc='cd ~/Documents'
alias gdown='cd ~/Downloads'

function cr() {
# cd into the selected repository
    reply=$(echo "$(/bin/ls -1 ~/Downloads/repos)" | fzf)
    if [[ -z $reply ]];then
        echo "No repo selected!"
    else
        cd ~/Downloads/repos/$reply
    fi
}

function path() {
# get the absolute path of the selected file and copy it to the clipboard
    reply=$(echo "$(/bin/ls -1 `pwd`)" | fzf)
    if [[ -z $reply ]];then
        echo "No file selected!"
    else
        absolute_path="`pwd`/$reply"
        echo $absolute_path

        if [[ -f "/usr/bin/xclip" ]];then
            echo -n $absolute_path | xclip -selection clipboard
            notify-send "Path copied" "Absolute path copied to the clipboard!"
        else
            notify-send "'xclip' not installed" "Install xclip to copy the absolute path to your clipboard!"
        fi
    fi
}

alias nvim="/home/shreyam/.local/bin/nvim.appimage"

# Some django aliases
alias rs='python3 manage.py runserver'
alias mi='python3 manage.py migrate'
alias mm='python3 manage.py makemigrations'
alias csu='python3 manage.py createsuperuser'

# Some Power Options aliases
alias sd='poweroff'
alias rb='reboot'
