# Python aliases
alias vc='python3 -m venv venv'
alias va='source ./venv/bin/activate'
alias vd='deactivate'
alias inst='pip3 install -r requirements.txt'
alias uppip='pip3 install --upgrade pip'
alias vca='vc && va && uppip'
alias vcai='vca && inst'

# Interactive command aliases
alias mv='mv -i'
alias cp='cp -i'
alias rm='rm -i'

# Get coloured output
alias diff='diff --color=auto'

# Restrict ping count to 4
alias ping='ping -c 4'

# Config files aliases
alias cb='nvim ~/.config/bspwm/bspwmrc'
alias cs='nvim ~/.config/sxhkd/sxhkdrc'
alias cpol='nvim ~/.config/polybar/config'
alias cdun='nvim ~/.config/dunst/dunstrc'
alias cpic='nvim ~/.config/picom/picom.conf'
alias crof='nvim ~/.config/rofi/config.rasi'
alias czat='nvim ~/.config/zathura/zathurarc'
alias cnvi='nvim ~/.config/nvim/init.vim'
alias cali='nvim ~/.aliases'
alias cz='nvim ~/.zshrc'
alias calac='nvim ~/.config/alacritty/alacritty.yml'
alias bm='nvim ~/.scripts/bookmarks/bookmarks.json'

# Editor aliases
alias nv='/usr/bin/nvim'
alias n='/usr/bin/nvim'

# Flagged aliases
alias nnn='nnn -de'

# Directory navigation (go to directory) aliases
alias gr='cd ~/Downloads/repos'
alias gdocs='cd ~/Documents'
alias gdown='cd ~/Downloads'

# Django aliases
alias rs='python3 manage.py runserver'
alias mi='python3 manage.py migrate'
alias mm='python3 manage.py makemigrations'
alias csu='python3 manage.py createsuperuser'

# Power options aliases
alias sd='poweroff'
alias rb='reboot'

# Replacement program aliases
alias ls='exa'

# Manage dotfiles
function dotfiles() {
    /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME $@
}

# Change directory into the selected repository
function cr() {
    reply=$(echo "$(/bin/ls -1 ~/Downloads/repos)" | fzf)
    if [[ -z $reply ]];then
        echo "No repo selected!"
    else
        cd ~/Downloads/repos/$reply
    fi
}

# Get the absolute path of the selected file and copy it to the clipboard
function path() {
    if [[ $# == 0 ]];then
        search_path=`pwd`
    else
        search_path=$1
    fi

    [[ ! -d $search_path ]] && echo "Given path not a directory!" && return 0

    reply=$(echo "$(/bin/ls -1 ${search_path})" | fzf)

    [[ -z $reply ]] && echo "No file selected!" && return 0

    absolute_path="$search_path/$reply"
    echo $absolute_path

    if [[ -f "/usr/bin/xclip" ]];then
        echo -n $absolute_path | xclip -selection clipboard
        notify-send "Path copied" "Absolute path copied to the clipboard!"
    else
        notify-send "'xclip' not installed" "Install xclip to copy the absolute path to your clipboard!"
    fi
}
