[user]
    name = Shreyam Pokharel

[commit]
    gpgsign = false

[init]
    defaultBranch = main

[alias]
    co = checkout
    ci = commit
    st = status
    sf = status -s
    d  = diff
    ds = diff --staged
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[includeIf "gitdir:~/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/Work/"]
    path = ~/.gitconfig-work
